/* Variables de colores de estado */
:root {
    --planning-light: #95a9d6;
    --planning-dark: #0a2a6e;
    --ready-light: #3cb17c;
    --ready-dark: #0b5231;
    --process-light: #fcebb9;
    --process-dark: #7e6009;
    --partial-light: #bce0c8;
    --partial-dark: #0c6e40;
    --canceled-light: #dd989f;
    --canceled-dark: #79111c;
    --reprogramed-light: #afafaf;
    --reprogramed-dark: #505050;
}

/* Estilos de la página y estructura */
#bills-header {
    margin-top: 0;
}

#bills-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#bills-filter-container, .table-responsive, #bills-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.week-buttons {
    border: none;
    padding: 0px;
}

th {
    color: var(--secondary) !important;
}

input:disabled {
    background-color: var(--background-light) !important;
    color: var(--primary-dark) !important;
}

@media (min-width: 500px) and (max-width: 768px) {
    #filter-btn {
        margin-top: 1rem;
    }
}

/* Estilos de texto para la tabla */
.bill-contract, .bill-cant {
    font-size: 13px;
    color: var(--secondary) !important;
}

.bill-status {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.documented {
    background-color: var(--ready-light) !important;
    color: var(--ready-dark) !important;
}

.pending {
    background-color: var(--process-light) !important;
    color: var(--process-dark) !important;
}

.canceled {
    background-color: var(--canceled-light) !important;
    color: var(--canceled-dark) !important;
}

.btn-update {
    padding: 4px 8px 4px 8px;
}