/* Estilos de la página y estructura */
#clients-header {
    margin-top: 0;
}

#clients-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#clients-form-container, #clients-filter-container, .table-responsive, #clients-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
.client-rfc, .client-phone, .client-cp, .client-time, #clients-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

.client-email {
    color: var(--table-blue-dark);
    text-decoration: underline;
}
