/* Variables de colores de estado */
:root {
    --planning-light: #95a9d6;
    --planning-dark: #0a2a6e;
    --ready-light: #3cb17c;
    --ready-dark: #0b5231;
    --process-light: #fcebb9;
    --process-dark: #7e6009;
    --partial-light: #bce0c8;
    --partial-dark: #0c6e40;
    --canceled-light: #dd989f;
    --canceled-dark: #79111c;
    --reprogramed-light: #afafaf;
    --reprogramed-dark: #505050;
}

/* Estilos de la página y estructura */
#orders-header {
    margin-top: 0;
}

#orders-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#orders-form-container, #orders-filter-container, .table-responsive, #orders-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
.order-contract, .order-client-email, #orders-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

.order-date {
    color: var(--secondary) !important;
}

.order-condition {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.planning {
    background-color: var(--planning-light) !important;
    color: var(--planning-dark) !important;
}

.ready {
    background-color: var(--ready-light) !important;
    color: var(--ready-dark) !important;
}

.process {
    background-color: var(--process-light) !important;
    color: var(--process-dark) !important;
}

.partial {
    background-color: var(--partial-light) !important;
    color: var(--partial-dark) !important;
}

.canceled {
    background-color: var(--canceled-light) !important;
    color: var(--canceled-dark) !important;
}

.reprogramed {
    background-color: var(--reprogramed-light) !important;
    color: var(--reprogramed-dark) !important;
}

.order-buttons {
    padding: 0px;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .label-over-border {
        margin-bottom: 1.5rem;
        padding-left: 0;
    }
}