/* Estilos de la página y estructura */
#orders-header {
    margin-top: 0;
}

#orders-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#orders-form-container, #orders-filter-container, .table-responsive, #orders-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    color: var(--secondary) !important;
}

@media (min-width: 500px) and (max-width: 768px) {
    #filter-btn {
        margin-top: 1rem;
    }
}

/* Estilos de texto para la tabla */
.order-client-email, .order-cant, #orders-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

.order-date {
    color: var(--secondary) !important;
}

.order-status {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

/* Estilos de los botones */
.btn-remove{
    border-radius: 12px;
    border: 1px solid var(--secondary-light);
}

.btn-remove {
    color: var(--canceled-dark);
    box-shadow: 0 2px 4px rgba(121, 17, 28, 0.3);
}

.btn-remove:hover {
    background-color: var(--canceled-dark);
    color: var(--text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
