
/* Estilos de la página y estructura */
#planning-header {
    margin-top: 0;
}

#planning-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#planning-filter-container, #planning-total-container, .table-responsive {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.week-buttons {
    border: none;
    padding: 0px;
}

th {
    color: var(--secondary) !important;
}

/* Tablas hijas de partidas y recolecciones */
.fixed-table {
    table-layout: fixed;
    width: 100%;
}

.fixed-table th:nth-child(1),
.fixed-table td:nth-child(1) {
    width: 12%;
}

.fixed-table th:nth-child(2),
.fixed-table td:nth-child(2) {
    width: 13%;
}

.fixed-table th:nth-child(n+3),
.fixed-table td:nth-child(n+3) {
    width: 13%;
}

.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fixed-table {
    font-size: 14px;
    min-width: 900px;
    max-width: 985px;
}

input:disabled {
    background-color: var(--background-light) !important;
    color: var(--primary-dark) !important;
}

/* Estilos de texto para la tabla */
.planning-time, .planning-events, .partition-time, .recolection-time {
    font-size: 13px;
    color: var(--secondary) !important;
}

.planning-status {
    padding: 5px 12px 5px 12px;
    border-radius: 15px;
    font-weight: bold;
    display: inline-block;
}

#partition-table, #recolection-table {
    font-size: 14px;
}

#trip-total-table {
    font-size: 13px;
    background-color: var(--primary-light);
}