
/* Estilos de la página y estructura */
#recolections-header {
    margin-top: 0;
}

#recolections-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#recolections-form-container, #recolections-filter-container, .table-responsive {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.week-buttons {
    border: none;
    padding: 0px;
}

th {
    color: var(--secondary) !important;
}

input:disabled {
    background-color: var(--background-light) !important;
    color: var(--primary-dark) !important;
}

@media (min-width: 500px) and (max-width: 768px) {
    #filter-btn {
        margin-top: 1rem;
    }
}

/* Estilos de texto para la tabla */
.recolection-time, .recolection-cant {
    font-size: 13px;
    color: var(--secondary) !important;
}

.recolection-status {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.btn-update {
    padding: 4px 8px 4px 8px;
}