
/* Estilos de la página y estructura */
#shipments-header {
    margin-top: 0;
}

#shipments-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#shipments-filter-container, #shipments-total-container, .table-responsive {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.week-buttons {
    border: none;
    padding: 0px;
}

th {
    color: var(--secondary) !important;
}

hr {
    margin: 0.5rem 0 !important;
}

input:disabled {
    background-color: var(--background-light) !important;
    color: var(--primary-dark) !important;
}

/* Estilos de texto para la tabla */
.shipment-cant, .shipment-license {
    font-size: 13px;
    color: var(--secondary) !important;
}

.shipment-status {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.btn-update {
    padding: 4px 8px 4px 8px;
}

/* El elemento al seleccionarlo */
.chosen td {
    background: var(--primary) !important;
    color: white !important;
}

/* El elemento mientras se arrastra */
.drag td {
    transform: rotate(2deg);
    cursor: grabbing;
}

@media (min-width: 500px) and (max-width: 768px) {
    #filter-btn {
        margin-top: 1rem;
    }
}