/* Estilos de la página y estructura */
#units-header {
    margin-top: 0;
}

#units-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#units-form-container, #units-filter-container, .table-responsive, #units-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
.unit-type {
    font-weight: bold;
}

#units-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}
