/* Variables de colores de estado */
:root {
    --active-light: #a4dbc2;
    --active-dark: #0a6b3e;
    --inactive-light: #dd989f;
    --inactive-dark: #991522;
}

/* Estilos de la página y estructura */
#clients-header {
    margin-top: 0;
}

#clients-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#clients-form-container, #clients-filter-container, .table-responsive, #clients-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
.client-company {
    font-weight: bold;
}

.client-id, .client-email, #clients-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

.client-status {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.client-active {
    background-color: var(--active-light) !important;
    color: var(--active-dark) !important;
}

.client-inactive {
    background-color: var(--inactive-light) !important;
    color: var(--inactive-dark) !important;
}

.client-buttons {
    padding: 0px;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
}
