:root {
    --active-light: #a4dbc2;
    --active-dark: #0a6b3e;
    --inactive-light: #dd989f;
    --inactive-dark: #991522;
    --pending-light: #fcebb9;
    --pending-dark: #a57c00;
}

p, h5, h4 {
    margin-bottom: 0px;
}

.container, #clients-header-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#clients-header {
    margin-top: 0;
}

#clients-header-container {
    background-color: var(--background-light) !important;
}

#clients-filter-container, .table-responsive, #clients-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
}

#search-filter-btn {
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--secondary-light);
    background-color: var(--background);
}

#search-filter-btn:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search-filter-btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(143, 199, 74, 0.5);
}

#search-filter {
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--secondary-light);
}

th {
    color: var(--secondary) !important;
}

.client-company {
    font-weight: bold;
}

.client-id, .client-email, #clients-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

.client-status {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.active {
    background-color: var(--active-light) !important;
    color: var(--active-dark) !important;
}

.inactive {
    background-color: var(--inactive-light) !important;
    color: var(--inactive-dark) !important;
}

.pending {
    background-color: var(--pending-light) !important;
    color: var(--pending-dark) !important;
}

.client-buttons {
    padding: 0px;
}

.btn-edit, .btn-delete, .btn-view {
    border-radius: 100%;
}

.btn-edit:hover, .btn-delete:hover, .btn-view:hover {
    background-color: var(--primary-dark);
    color: var(--text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}