/* Variables de colores de estado */
:root {
    --danger-light: #dd989f;
    --danger-dark: #991522;
}

/* Estilos de la página y estructura */
#clients-header {
    margin-top: 0;
}

#clients-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#clients-form-container, #clients-filter-container, .table-responsive, #clients-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

table {
    font-size: 15px;
}

@media (max-width: 430px) {
    table {
        font-size: 13px;
    }
}

th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
.client-company {
    font-weight: bold;
}

.client-rfc, .client-phone, .client-cp, #clients-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

.client-buttons {
    padding: 0px;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
}
