/* Variables de colores de estado */
:root {
    --completed-light: #a4dbc2;
    --completed-dark: #0b5231;
    --canceled-light: #dd989f;
    --canceled-dark: #79111c;
    --pending-light: #95a9d6;
    --pending-dark: #0a2a6e;
    --process-light: #fcebb9;
    --process-dark: #7e6009;
}

/* Estilos de la página y estructura */
#orders-header {
    margin-top: 0;
}

#orders-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#orders-filter-container, .table-responsive, #orders-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
.order-client-email, #orders-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

.order-date {
    color: var(--secondary) !important;
}

.order-status {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.completed {
    background-color: var(--completed-light) !important;
    color: var(--completed-dark) !important;
}

.canceled {
    background-color: var(--canceled-light) !important;
    color: var(--canceled-dark) !important;
}

.process {
    background-color: var(--process-light) !important;
    color: var(--process-dark) !important;
}

.pending {
    background-color: var(--pending-light) !important;
    color: var(--pending-dark) !important;
}

.order-buttons {
    padding: 0px;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
}
