:root {
    --completed-light: #a4dbc2;
    --completed-dark: #0a6b3e;
    --canceled-light: #dd989f;
    --canceled-dark: #991522;
    --pending-light: #95a9d6;
    --pending-dark: #0d3999;
    --process-light: #fcebb9;
    --process-dark: #a57c00;
}

#orders-header {
    margin-top: 0;
}

#orders-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#orders-filter-container, .table-responsive, #orders-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#search-filter-btn {
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--secondary-light);
    background-color: var(--background);
}

#search-filter-btn:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search-filter-btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(143, 199, 74, 0.5);
}

#search-filter {
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--secondary-light);
}

th {
    color: var(--secondary) !important;
}

.order-id {
    font-weight: bold;
}

.order-client-email, #orders-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

.order-date {
    color: var(--secondary) !important;
}

.order-status {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.completed {
    background-color: var(--completed-light) !important;
    color: var(--completed-dark) !important;
}

.canceled {
    background-color: var(--canceled-light) !important;
    color: var(--canceled-dark) !important;
}

.process {
    background-color: var(--process-light) !important;
    color: var(--process-dark) !important;
}

.pending {
    background-color: var(--pending-light) !important;
    color: var(--pending-dark) !important;
}

.order-buttons {
    padding: 0px;
}

.btn-edit, .btn-delete, .btn-view {
    border-radius: 100%;
}

.btn-edit:hover, .btn-delete:hover, .btn-view:hover {
    background-color: var(--primary-dark);
    color: var(--text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}