/* plan de dia azul, proceso amarillo, parcial verde claro, listo verde fuerte, 
   stock out, reprogramado y cancelado rojo */
/* Variables de colores de estado */
:root {
    --planning-light: #95a9d6;
    --planning-dark: #0a2a6e;
    --ready-light: #3cb17c;
    --ready-dark: #0b5231;
    --process-light: #fcebb9;
    --process-dark: #7e6009;
    --partial-light: #bce0c8;
    --partial-dark: #0c6e40;
    --canceled-light: #dd989f;
    --canceled-dark: #79111c;
    --reprogramed-light: #afafaf;
    --reprogramed-dark: #505050;
}

/* embarcado verde, preparacion amarillo, plan azul, cancelado y rechazado rojo, reprogramado gris */

#shipments-header {
    margin-top: 0;
}

#shipments-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#shipments-info-container, #shipments-filter-container, .table-responsive, #shipments-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#shipments-info-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), -4px 0px var(--primary);
    animation: fadeInUp 0.8s ease-in-out;
}

.week-buttons {
    border: none;
    padding: 0px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#shipments-info-text {
    font-size: 13px;
    color: var(--secondary) !important;
}

th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
table {
    font-size: 15px;
}

.shipment-contract, .shipment-cant {
    font-size: 13px;
    color: var(--secondary) !important;
}

.shipment-condition, .shipment-agree {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

.planning {
    background-color: var(--planning-light) !important;
    color: var(--planning-dark) !important;
}

.ready, .send {
    background-color: var(--ready-light) !important;
    color: var(--ready-dark) !important;
}

.process, .preparation {
    background-color: var(--process-light) !important;
    color: var(--process-dark) !important;
}

.partial {
    background-color: var(--partial-light) !important;
    color: var(--partial-dark) !important;
}

.canceled {
    background-color: var(--canceled-light) !important;
    color: var(--canceled-dark) !important;
}

.reprogramed {
    background-color: var(--reprogramed-light) !important;
    color: var(--reprogramed-dark) !important;
}

.btn-update {
    padding: 4px 8px 4px 8px;
}